{{- $profile := promptStringOnce . "profile" "Profile" -}}
{{- $machine := promptStringOnce . "machine" "Machine" -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[diff]
    command = "chezmoi-diff-ignore-json-key-order"
    args = [{{ "{{ .Destination }}" | quote }}, {{ "{{ .Target }}" | quote }}]

[data]
    profile = {{ $profile | quote }}
    machine = {{ $machine | quote }}
