{{- $profile := index . "profile" | default "personal" -}}
# 1Password SSH Agent Configuration

{{ if eq $profile "firsthand" }}
[[ssh-keys]]
account = "team-firsthand.1password.com/"
{{ end }}
[[ssh-keys]]
account = "my.1password.com"
