{{- $profile := .profile | default "personal" -}}
{{- $machine := .machine | default "laptop" -}}

# Chezmoi supports declarative package management:
#    https://www.chezmoi.io/user-guide/advanced/install-packages-declaratively/
# I am specifically NOT doing that.  This lets `brew` reference a full Brewfile

{{ includeTemplate "brew/global.Brewfile" . }}
{{- if eq $profile "personal" }}
    {{- "\n" }}{{ includeTemplate "brew/personal.Brewfile" . }}
    {{- if eq $machine "laptop" }}
        {{- "\n" }}{{ includeTemplate "brew/personal.laptop.Brewfile" . }}
    {{- end }}
    {{- if eq $machine "mini" }}
        {{- "\n" }}{{ includeTemplate "brew/personal.mini.Brewfile" . }}
    {{- end }}
{{- end }}
{{- if eq $profile "firsthand" }}
    {{- "\n" }}{{ includeTemplate "brew/firsthand.Brewfile" . }}
{{- end }}
